<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Set New Password</title>
</head>
<body>
    <div class="set-new-password-page">
        <div class="set-new-password-form">
            <img src="{{ url_for('static', filename='fitgraph-high-resolution-logo-white.png') }}" class="logo" alt="FitGraph Logo">
            <h2>Set New Password</h2>
            <form method="POST" action="{{ url_for('set_new_password', user_id=user_id) }}">
                <input type="password" name="new_password" placeholder="New Password" required>
                <input type="submit" value="Reset Password" class="continue-btn">
            </form>
            <p><a href="{{ url_for('login') }}">Back to Login</a></p>
        </div>
        <div class="set-new-password-image">
            <img src="{{ url_for('static', filename='gym_background.jpg') }}" alt="Gym Background">
        </div>
    </div>
</body>
</html>
